{{>adminnavbar}}
        <div class="col-sm-9 padding-right main">
          <h2 class="sub-header">Informacje</h2>
          <hr>
          <p>Przed podjętą akcją zawsze upewnij się dwa razy.</p>
        </div>
