{{!--<link href="/stylesheets/dashboard.css" rel="stylesheet">--}}
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Panel administracyjny</h2>
            <div class="panel-group category-products" id="accordian">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title-admin">
                    <a href="/admin/adminhome">Strona główna</a>
                  </h4>
                </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title-admin">
                      <a href="/admin/products">Lista produktów</a>
                    </h4>
                  </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title-admin">
                        <a href="/admin/addproduct">Dodaj produkt</a>
                      </h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title-admin">
                          <a href="/admin/activeorders">Aktywne zamówienia <span class="badge pull-right">{{number}}</span></a>
                        </h4>
                      </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title-admin">
                            <a href="/admin/orders">Historia zamówień</a>
                          </h4>
                        </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title-admin">
                              <a href="/admin/showprofiles">Zarejestrowani użytkownicy</a>
                            </h4>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
             
