<br>
<footer id="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Phasellus pulvinar</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Nam risus</a></li>
                            <li><a href="">Class aptent</a></li>
                            <li><a href="">Pellentesque tempus</a></li>
                            <li><a href="">Vivamus imperdiet</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Nunc arcu</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Praesent gravida</a></li>
                            <li><a href="">Fusce interdum</a></li>
                            <li><a href="">Curae, Vivamus</a></li>
                            <li><a href="">Cras non</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Phasellus pulvinar</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Nam risus</a></li>
                            <li><a href="">Class aptent</a></li>
                            <li><a href="">Pellentesque tempus</a></li>
                            <li><a href="">Vivamus imperdiet</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Nunc arcu</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Praesent gravida</a></li>
                            <li><a href="">Fusce interdum</a></li>
                            <li><a href="">Curae, Vivamus</a></li>
                            <li><a href="">Cras non</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-right"> Łukasz Chwalewski @ 2017 <span><a target="_blank" href="https://github.com/lchwalewski/Shop"> GitHub</a></span></p>
            </div>
        </div>
    </div>
</footer>