<header id="header">
  <!--header-->
  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="pull-left">
            <a class="logotext" href="/">myBook</a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="pull-right mainmenu">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Koszyk <span class="badge">{{session.cart.totalQty}}</span></a></li>
              <li class="dropdown"><a href="#"><i class="fa fa-user"></i> {{#if user}}{{user.email}}{{/if}}{{#unless user}}Konto{{/unless}}<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  {{#if login}}
                  <li><a href="/user/profile">Twój profil</a></li>
                  <li><a href="/user/history">Zamówienia</a></li>
                  <li><a href="/user/logout">Wyloguj się</a></li>
                  {{else}}
                  <li><a href="/user/register">Zarejestruj się</a></li>
                  <li><a href="/user/login">Zaloguj się</a></li>
                  {{/if}} {{#isAdmin user.role}}
                  <li><a href="/admin/adminhome">Panel administratora</a></li>
                  {{/isAdmin}}
                </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->
  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/sale"><p class="orangetext">PROMOCJE</p></a></li>
              <li>|</li>
              <li><a href="/recs">Losowa książka</a></li> 
              <li>|</li> 
              <li><a href="/fresh">Nowości</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <form action="/search" action="get">
              <input type="text" name="searchquery" id="searchquery" placeholder="Szukaj...">
              <button type="submit" class="btn btn-default fa fa-search"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->
</nav>