{{>genresnavbar}}
  <div class="col-sm-9 padding-right col-sm-offset-3">
    <div class="alert alert-success {{# if noMessages}} hidden {{/if}}" id="success">
      {{successMsg}}
    </div>
  </div>
<div class="col-sm-9 padding-right col-sm-offset-3">
  <h3>Witaj na stronie głównej.</h3>
</div>



 